{{ template "widget-base.html" . }}

{{ define "widget-content-classes" }}widget-content-frameless{{ end }}
{{ define "widget-content" }}
<!--<div class="search-br-1 " ></div>-->

<!--<div class="search widget-content-frame padding-inline-widget flex gap-30 items-center"-->
<div class="search widget-content padding-inline-widget items-center"
     data-default-search-url="{{ .SearchEngine }}" data-new-tab="{{ .NewTab }}">

    <div class="flex"  style="display: flex;align-items: flex-start">
        <div class="search-bangs" style="display: none">
            {{ range .Bangs }}
            <input type="hidden" data-shortcut="{{ .Shortcut }}" data-title="{{ .Title }}" data-url="{{ .URL }}"
                   data-icon="{{.Icon}}">
            {{ end }}
        </div>

        <div class="search-icon-container" id="search-icon">
            <img loading="eager" src="{{ .DefaultBangIcon }}"
                 data-image-src="{{ .DefaultBangIcon }}" >
        </div>


        <textarea class="search-input" id="search-input" rows="1" style="" autocomplete="off" {{ if .Autofocus }} autofocus{{ end }}></textarea>
        <div class="search-icon-container hidden" id="search-input-clear">
            <img loading="eager" src="{{.ClearIcon}}">
        </div>

        <div class="search-icon-container" id="search-action">
            <img loading="eager" src="{{.SearchIcon}}">
        </div>
    </div>


    <!--    <div class="search-br animate__animated animate__bounceInUp" ></div>-->

    <div class="search-history" id="search-history">
        <div class="search-history-item"><span>demo</span></div>
        <div class="search-history-item"><span>demo</span></div>
    </div>

    <div class="search-engines" id="search-engines">
        {{ range.Bangs }}
        <div class="search-engine-item" data-title="{{.Title}}" data-shortcut="{{ .Shortcut }}" data-url="{{ .URL }}"
             data-icon="{{.Icon}}">
            <img loading="eager" src="{{ .Icon }}" alt="{{.Title}}" class="search-engine-icon">
        </div>
        {{ end }}
    </div>
</div>

{{end}}