
.search {
    background: var(--color-widget-background);
    border-radius: 20px;
    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);*/
    transition: box-shadow 0.5s, backdrop-filter 0.5s, -webkit-backdrop-filter 0.5s;
    backdrop-filter: blur(2px);
}

.widget-header {
    padding: 0 calc(var(--widget-content-horizontal-padding) + 1px);
    font-size: var(--font-size-h4);
    margin-bottom: 0.9rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search:focus-within {
}



/*.search:focus {*/
/*    border: 2px solid #007BFF; !* 聚焦时边框颜色变为蓝色 *!*/
/*    outline: none; !* 可选：移除浏览器默认的聚焦轮廓线 *!*/
/*}*/

/*.search:focus-within {*/
/*    border: 2px solid green;*/
/*}*/


.search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-right: 5px;*/
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.search-icon-container:hover img {
    /* 放大图像，这里使用scale函数，1.5是放大的比例，你可以根据需要调整 */
    transform: scale(1.5);

    /* 如果你想让图像在放大时仍然保持居中，确保容器的display和align-items属性是合适的 */
    /* 例如，如果.search-icon-container是一个flex容器，你可能需要： */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    /* 注意：如果容器大小固定，并且图像放大后超出容器边界，
       你可能需要设置容器的overflow属性为visible，或者调整容器大小以容纳放大的图像 */
}


.search-icon-container img, svg {
    height: 30px;
    /*max-width: 100%; !* 确保图片不会超出其父元素的宽度 *!*/
    /*display: block;*/
    vertical-align: middle;
    color: white;
}

.search-engines {
    /*margin-top: 10px;
    /*display: inherit;*/
    /*display: grid;*/
    /*display: block;*/
    position: relative;
    /*background: var(--color-widget-background);*/
    /*background: rgba(42, 42, 42, 0.42);*/
    /*grid-template-columns: repeat(10, 3fr); !* 默认三列 *!*/
    gap: 10px; /* 子项之间的间隔 */
    /*padding: 10px; !* 容器内边距 *!*/
    flex-wrap: wrap; /** 允许子项换行 *!*/
    /*flex-direction:row;*/
    border-top: 2px solid var(--color-separator);
    /*border: 1px solid; !* 可选：给项添加边框以更清晰地看到它们 *!*/
    /*border-radius: 20px;*/
    overflow: auto; /* 或者使用 overflow: hidden; 如果你不希望出现滚动条 */
    padding-top: 10px;
}

/*.page-center-vertically .page {*/
/*    !*display: grid;*!*/

/*    !** !* 垂直居中  控制 .page-column page-column-full 绝对位置 *!*!*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    height: 100vh; !* 假设你想要它占满整个视窗高度 *!*/
/*}*/

/*.page-column-full {*/
/*    position: absolute;*/
/*}*/

/*.page-column-full {*/
/*    position: absolute;*/

/*}*/


.search-engine-item {
    width: 50px;
    background-color: ghostwhite;
    border-radius: .75rem;
    padding: 10px;
    cursor: pointer;
}

#search-input-clear {
    margin-right: 20px;
}


.search-history {
    margin-top: var(--list-half-gap);
    border-top: 2px solid var(--color-separator);
    padding-top: 10px;
    /*background: var(--color-widget-background);*/
    display: none;
    flex-direction: column;
    max-height: 400px; /* 根据需要调整这个值 */
    overflow: auto; /* 或者使用 overflow: hidden; 如果你不希望出现滚动条 */

    grid-auto-rows: 40px; /* 或者任何你想要的行高 */
    grid-column: 1 / -1; /* 跨越所有列 */
}

.search-history-item {
    /*margin-left: 40px;*/
    /*display: none;*/
    padding: 10px;
    position: relative;
    /*border-radius: 20px;*/
    cursor: pointer;

}

.hidden {
    display: none;
}


.hidden-v {
    visibility: hidden;
}


.search-history-item span {
    padding: 2px;
    margin-left: 40px;
    font-size: 14px;
}


.search-history-item:hover {
background: hsla(62, 84%, calc(30% + 1%), 0.4)
    /*background: rgba(42, 42, 42, 0.5); !* 浅灰色 *!*/
}


.search-input {
    font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    border: 0;
    background-color:transparent ;
    width: 100%;
    padding: 10px;
    /*height: 6rem;*/
    outline: none;
    color: white;


    /*overflow: hidden;*/
    overflow: hidden;
    overflow-y: auto;
    /*min-height: 30px; !* 设置最小高度 *!*/
    max-height: 300px;
    resize: none; /* 禁用手动调整大小 */
    /*overflow: hidden;*/
}

.search-input textarea{
    /*resize: none; !* 禁用手动调整大小 *!*/
    padding: 10px;

    /*white-space: pre-wrap;*/
    /*line-height: 1.5;*/
}


.mobile-navigation {
    display: none; /** 控制手机端导航 */
}


.text-shadow {
    text-shadow: 2px 2px 50px rgb(0, 0, 0);
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}


.font-bold {
    font-weight: 700;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.justify-center {
    justify-content: center;
}

@media (min-width: 768px) {
    .md\:text-6xl {
        font-size: 3.75rem;
        line-height: 1;
    }
}

.te {
    color: rgb(54, 54, 54);
}
